<section id="trending">
  <h2>Trending Now</h2>
  <div class="container" #slider1>
    <button
      class="handle left-handle"
      (click)="sliderScrollLeft(this.slidesTrending, curSlideTrending)"
    ></button>
    <div class="movies slider" #sliderTrending>
      <div
        class="movie slide"
        *ngFor="let movie of trendingMoviesList"
        #slidesTrending
      >
        <div class="movie__thumbnail">
          <img src="{{ movie.image }}" alt="" class="movie__thumbnail-poster" />
        </div>
        <div class="movie__description">
          <p class="movie__description-title">{{ movie.title }}</p>
          <div class="movie__description-genres">
            <p
              class="movie__description-genre"
              *ngFor="let genre of movie.genres"
            >
              {{ this.genreList.get(genre) }}
            </p>
          </div>
          <p class="movie__description-release">{{ movie.release | date }}</p>
          <button
            class="btnFavorite"
            (click)="addFavorite(movie)"
            [class.btnIsFavorite]="movie.isFavorite"
          >
            <i class="fa-solid fa-heart"></i>
          </button>
        </div>
      </div>
    </div>

    <button
      class="handle right-handle"
      (click)="sliderScrollRight(this.slidesTrending, curSlideTrending)"
    ></button>
  </div>
</section>

<section id="popular">
  <h2>Popular Now</h2>
  <div class="container" #slider2>
    <button
      class="handle left-handle"
      (click)="sliderScrollLeft(this.slidesPopular, curSlidePopular)"
    ></button>
    <div class="movies slider" #sliderPopular>
      <div
        class="movie slide"
        *ngFor="let movie of popularMoviesList"
        #slidesPopular
      >
        <div class="movie__thumbnail">
          <img src="{{ movie.image }}" alt="" class="movie__thumbnail-poster" />
        </div>
        <div class="movie__description">
          <p class="movie__description-title">{{ movie.title }}</p>
          <div class="movie__description-genres">
            <p
              class="movie__description-genre"
              *ngFor="let genre of movie.genres"
            >
              {{ this.genreList.get(genre) }}
            </p>
          </div>
          <p class="movie__description-release">{{ movie.release | date }}</p>
        </div>
        <button
          class="btnFavorite"
          (click)="addFavorite(movie)"
          [class.btnIsFavorite]="movie.isFavorite"
        >
          <i class="fa-solid fa-heart"></i>
        </button>
      </div>
    </div>

    <button
      class="handle right-handle"
      (click)="sliderScrollRight(this.slidesPopular, curSlidePopular)"
    ></button>
  </div>
</section>
